body {
  font-family: Lato;
}

/* app container */
.app-friend-container{
  display: flex;
  flex: 1;
  flex-direction: row;
}

/* profile component */
.profile-container{
  border: 1px solid rgba(127, 214, 127, 0.5);
  background: rgba(1,1,1,.03);
  padding: 0 10px;
  text-align: center;
}

/* friendContainer  */
.friend-container-container{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(127, 214, 127, 0.5);
  background: rgba(1,200,1,.1);
  padding: 20px;
  margin: auto 0;
}

.friend-container-form-container{
  display: flex;
  flex: 1;
  justify-content: center;
}

.submit-container input{
  margin: 5px auto;
  display: block;
}

.friends-list{
  margin: auto;
  display: flex;
  flex-direction: column; 
}

.friends-list ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-form-container{
  border: 1px solid grey;
  padding: 10px;
  text-align: center;
}


/* Friend component  */
.friend-component-container{
border: 1px solid black;
padding: 5px;
display: flex;
flex: 1;
flex-direction: column;
justify-content: center;
width: 500px;
height: 150px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
margin-bottom: 10px;
}

.friend-component-container h3{
  margin: 0;
}

.friend-header-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.friend-contact-container{
  display: flex;
  justify-content: space-evenly;
}

.friend-contact-container h4, .friend-contact-container p{
  display: inline-block;
  padding: 0;
}

.subtle-text-container p{
  color: rgba(1,1,1,.17);
  text-align: center;
  text-transform:uppercase;
  margin: 0;
}

.skill-list-container{
  font-size: 12px;
  font-weight: 200;
  display: flex;
}

.skill-list-container ul {
  display: flex;
}

.skill-list-container li{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: fit-content;
  background: rbga(1,1,1,.4);
  padding: 8px;
  }

@media only screen and (max-width: 600px) {
  .friend-component-container{
    width: 200px;
    height: 200px;
    justify-content: space-evenly;
  }

  .friend-contact-container{
    text-align: center;
      font-size: 11px;
  }
}